/* CustomTable.scss */
.scrollableTable {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 200px;
    transition: all 500ms;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(242, 242, 242);
    border-radius: 200px;
    margin: 5px;
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    /* background: rgb(242, 242, 242); */
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 5px;
    transition: all 500ms;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(242, 242, 242);
  }
  
  /* Scrollbar For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #262626 rgb(242, 242, 242);
  }
}
